.star {
    color: blueviolet;
}

div {
    color: blueviolet;
}

input {
  color: blue;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
    background-color: #e7e7e7; color: black;

    width: 40%; margin-left: 70px;
    
  

}
