<form>

<div class="form1">
   <label>date depart <span class="star"> *</span></label> 
   <input type="date" placeholder="date depart" required class="input"
   id="date depart" >
   <label>date Retour <span class="star"> *</span></label> 
   <input type="date" placeholder="date Retour" required class="input"
   id="date retour" >
   <label>
    Status <span class="star"> *</span></label>
    <input type="text"placeholder="status" required class="input"
    id="stat">

    <label>
        Nbre de jour de congés<span class="star"> *</span></label>
        <input type="text" placeholder="nbre" required class="input"
        id="stat">

        <input type="button" value="valide">



</div>
</form>
  
  
  
