<div class="form-container mat-elevation-z5">
    <h1>login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value) ">
        <mat-form-field>
            <input 
            email required
            matInput placeholder="email" formControlName="email"
            id="email">            <mat-error *ngIf="email?.errors?.['email']">
                please enter a correct email format
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input   matInput placeholder="password" formControlName="password" type="password" id="pwd">
            <mat-error *ngIf="password?.errors?.['required']">
                password is required
            </mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit" >login</button>
        </div>

        <span class="center margin-top"><a routerLink="login">logout</a></span>
    </form>

</div>