<h1>consulter l'etat de mes congés</h1>


    <div>
        <form class="form-container mat-elevation-z5">
            <div>
            <label>
            Solde Annuel <span class="star"> </span></label>
            <input type="text" required class="input"
            id="Annuel">
        </div>
        <div>
            <label>
            Solde Pris   <span class="star"> </span></label>
            <input type="text"required class="input"
            id="pris">
        </div>
        <div>
            <label>Solde Restant <span class="star"> </span> </label>
                <input type="text" required class="input"
                id="res">
            </div>
            
        </form>   
        <div class="d-grid gap-2">  <a href="home" >
          <button class="btn btn-primary" style="width: 60%; margin-left: 20% ; margin-top: 20px;" type="button" >Retour</button></a></div>
    </div>