html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-container{
    display: block;
    max-width: 400px;
    margin: auto;
    background: rgb(245, 240, 245);
    padding: 48px;
    border-radius: 16px;
    margin-top: 100px;
}

.star{
    margin-top: 100px;
    margin-right: 300px;
}
button{
    margin-left: 50px;
}
.idf{
    margin-left: 50px;  
}
