
<mat-toolbar class="mat-elevation-z8 " style="background-color: white; ">

  <img src="assets/img/logo.png" width="120" height="60" style="border-radius: 4px">

  <h1 style="margin-left: 60px; color: black;">Gestion Des Congés </h1>


  <img src="assets/img/user_icon.png" width="40" style="margin-left: auto;" >
  <h2 style="margin-left: 10px; margin-right: 10px;color: black; ">Username </h2>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle></button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

      <button ngbDropdownItem routerLink="user" >Profile</button>
      <button ngbDropdownItem routerLink="password">Changer mot de passe</button>
      <button ngbDropdownItem routerLink="login">Déconnexion</button>
    </div>
  </div>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <sidebar-cmp></sidebar-cmp>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
      <router-outlet name="aux"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
