mat-toolbar {
  background: white;
  color: #004a9f;
}

mat-sidenav {
  margin-top: 0;
  margin-bottom: 0;
  width: 260px;
  border-right: none;
  background: white;
  color: #002b5c ;
  padding: 16px;
  text-align: center;
}

.content {
  min-height: calc(105vh - 98px);

  margin: 0px;
  margin-left: 5px;
 margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  color: rgb(87, 75, 75);
  height: auto;

}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: grey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
mat-toolbar{
  justify-content: space-between;
}
.content{
  padding: 32px;
}
