<a mat-button class="menu-button" style="margin-top: 20px; margin-bottom: 10px;" routerLink="home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</a>
<a mat-button class="menu-button" style="margin-bottom: 10px;"  routerLink="demande">
  <mat-icon>add_to_queue</mat-icon>
  <span>demande de congés</span>
</a>
<a mat-button class="menu-button" style="margin-bottom: 10px;" routerLink="consultation">
  <mat-icon>list_alt</mat-icon>
  <span>consultation congés</span>
</a>
<a mat-button class="menu-button" style="margin-bottom: 10px;" routerLink="solde">
  <mat-icon>monetization_on</mat-icon>
  <span>Solde</span>
</a>
<a mat-button class="menu-button" style="margin-bottom: 10px;" routerLink="login">
  <mat-icon>arrow_back</mat-icon>
  <span>déconnexion</span>
</a>
