

<h2 class="Bonjour" style="margin-top: 10%;"> Bienvenue à notre plateforme Gestion des congés </h2>
<div class="d-grid gap-2"> <a href="demande " > <button class="btn btn-primary" style="width: 60%; margin-left: 20% ; margin-top: 20px;" type="button" >Demande de congés </button></a></div>
    <div class="d-grid gap-2">  <a href="consultation " ><button class="btn btn-primary" style="width: 60%; margin-left: 20% ; margin-top: 20px;" type="button" routerLink="consultation">Consultation congés</button></a></div>
    <div class="d-grid gap-2">  <a href="solde " ><button class="btn btn-primary" style="width: 60%; margin-left: 20% ; margin-top: 20px;" type="button" routerLink="solde">Solde</button></a></div>
    <div class="d-grid gap-2">  <a href="login " ><button class="btn btn-primary" style="width: 60%; margin-left: 20% ; margin-top: 20px;" type="button" routerLink="login">Deconnexion</button></a></div>







